/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-primary: #fff;
    --color-secondary: #00a2ff;
    --color-bg-nav: #181119;
    --color-bg-horaire: #4855ca;

    --color-fail: #f6511d;
}
